{% extends "base.html" %}

{% block content %}
  <h1>
    TODO List
    <a style="float: right" class="btn btn-primary" href="#">Add task</a>
  </h1>
  <div class="my_high"></div>
  <div>
    {% for task in object_list %}
      <p class="font-weight-bold">
        {{ task.content }}
        {% if task.is_done %}
          <span class="text-success">Done</span>
          <a
            href="#"
            class="btn btn-secondary link-to-page"
            style="float: right"
          >
            Undo
          </a>
        {% else %}
          <span class="text-danger">Not done</span>
          <a
            href="#"
            class="btn bg-success link-to-page text-white"
            style="float: right"
          >
            Complete
          </a>
        {% endif %}
      </p>
      <p>
        Created: {{ task.datetime }}
        {% if task.deadline %}
          Deadline: {{ task.deadline }}
        {% endif %}
      </p>
      <p>
        Tags:
        {% for tag in task.tags.all %}
          {{ tag.name }}
        {% endfor %}
        <a href="#">Update</a>
        <a href="#">Delete</a>
      </p>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
